yarn.lock
#maven
target/

#Intellij
.idea/
*.iml
*.pyc
pom.xml.versionsBackup

#Eclipse
.classpath
.project
.settings/

##sphinx build文件
build/
_static
_template


#log
logs/

#angular
node_modules/
dist/
package-lock.json

go.sum
apps/angular-apps/packages/zchain/*-client/src/
!apps/angular-apps/packages/zchain/network-management-client/
